version: "3.9"

services:
  postgres:
    build:
      context: .
      dockerfile: docker/postgres/Dockerfile
    container_name: webmappingca_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - webmapping_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - .env.prod

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: webmapping_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - webmapping_network
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env.prod

  # Nginx Reverse Proxy
  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    container_name: webmapping_nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./docker/nginx/ssl:/etc/nginx/ssl
    networks:
      - webmapping_network
    depends_on:
      - web

  web:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    container_name: webmappingca_django
    ports:
      - "8000:8000"
    networks:
      - webmapping_network
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env.prod
    volumes:
      - ./:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    command: >
      sh -c "
      until pg_isready -h postgres -p 5432 -U ${DATABASE_USER}; do sleep 2; done &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "


volumes:
  postgres_data:
  pgadmin_data:
  static_volume:
  media_volume:

networks:
  webmapping_network:
    driver: bridge